src/main/resources/xsd/it/eng/parer/aipFascicoli/xml/usprofascRespV2/Unisincro_MoreInfoPVolumeFA_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!--  -->
    <xs:complexType name="IntestazioneType">
        <xs:sequence>
            <xs:element name="Versatore" type="VersatoreType" maxOccurs="1" minOccurs="1"/>
            <xs:element name="SoggettoProduttore" type="SoggettoProduttoreType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Chiave" type="ChiaveType" maxOccurs="1" minOccurs="1"/>
            <xs:element name="TipoFascicolo" type="TokenNonVuotoType" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!--  -->
    <!--  -->
    <xs:complexType  name="VersatoreType">
        <xs:sequence>
            <xs:element name="Ambiente" type="StringNVMax100Type" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Ente" type="StringNVMax100Type" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Struttura" type="StringNVMax100Type" maxOccurs="1" minOccurs="1"/>
            <xs:element name="UserID" type="StringNVMax100Type" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!--  -->
    <xs:complexType  name="SoggettoProduttoreType">
        <xs:sequence>
            <xs:element name="Ambiente" type="StringNVMax100Type" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Codice" type="StringNVMax100Type" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Denominazione" type="StringNVMax254Type" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <!--  -->

    <xs:complexType name="ChiaveType">
        <xs:sequence>
            <xs:element name="Anno" type="IntMax4DgtType" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Numero" type="StringNVMax100Type" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!--  -->
    <xs:complexType name="UnitaDocumentariaType">
        <xs:sequence>
            <xs:element name="Registro" type="StringNVMax100Type" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Anno" type="IntMax4DgtType" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Numero" type="StringNVMax100Type" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Posizione" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="DataInserimentoFascicolo" type="xs:date" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
  
    <!--  -->
    <xs:complexType name="FascicoloType">
        <xs:sequence>
            <xs:element name="Anno" type="IntMax4DgtType" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Numero" type="StringNVMax100Type" maxOccurs="1" minOccurs="1"/>
            <xs:element name="Posizione" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            <xs:element name="DataInserimentoFascicolo" type="xs:date" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <!--  -->
  
    <xs:complexType name="ProfiloArchivisticoType">
        <xs:sequence>
            <xs:any processContents="skip"/>
        </xs:sequence>
        <xs:attribute name="versione" type="StringNVMax1024Type" use="required" />
    </xs:complexType>


    <!-- ELEMENTI -->

    <!-- Profilo dettato da AGID, regole tecniche, normativo, ecc.. -->
    <xs:complexType name="ProfiloNormativoType">
        <xs:sequence>
            <xs:any processContents="skip"/>
        </xs:sequence>
        <xs:attribute name="versione" type="StringNVMax1024Type" use="required" />
    </xs:complexType>
    <!--  -->
    <xs:complexType name="ProfiloGeneraleType">
        <xs:sequence>
            <xs:element name="DataApertura"
                                    type="xs:date"
                                    maxOccurs="1"
                                    minOccurs="1"/>
            <xs:element name="DataChiusura"
                                    type="xs:date"
                                    maxOccurs="1"
                                    minOccurs="1"/>
            <xs:element name="Oggetto"
                                    type="StringMax4000Type"
                                    maxOccurs="1"
                                    minOccurs="1"/>            
            <xs:element name="LivelloRiservatezza"
                                    type="StringMax100Type"
                                    maxOccurs="1"
                                    minOccurs="1"/>
            <xs:element name="Soggetti"
                                    type="SoggettiType"
                                    maxOccurs="1"
                                    minOccurs="0"/>
            <xs:element name="Eventi"
                                    type="EventiType"
                                    maxOccurs="1"
                                    minOccurs="0"/>
            <xs:element name="ProcedimentoAmministrativo"
                                    type="ProcedimentoAmministrativoType"
                                    maxOccurs="1"
                                    minOccurs="0"/>
            <xs:element name="Note"
                                    type="StringMax4000Type"
                                    maxOccurs="1"
                                    minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="versione" type="StringNVMax1024Type" use="required" />
    </xs:complexType>
    <!--  Gestione soggetti-->
    <xs:complexType name="SoggettiType">
        <xs:sequence>
            <xs:element name="Soggetto"
                                    type="SoggettoType"
                                    maxOccurs="unbounded"
                                    minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SoggettoType">
        <xs:sequence>
            <xs:element name="Ruolo"
                                    type="StringNVMax254Type"
                                    minOccurs="1"
                                    maxOccurs="1"/>
            <xs:choice>
                <xs:element name="TipoSoggettoPAI"
                                            type="TipoSoggettoPAIType"
                                            minOccurs="1"/>
                <!-- Pubblica amministrazione italiana-->
                <xs:element name="TipoSoggettoPF"
                                            type="TipoSoggettoPFType"
                                            minOccurs="1"/>
                <!-- Persona fisica -->
                <xs:element name="TipoSoggettoPAE"
                                            type="TipoSoggettoPAEType"
                                            minOccurs="1"/>
                <!-- Pubblica amministrazione europea-->
                <xs:element name="TipoSoggettoPG"
                                            type="TipoSoggettoPGType"
                                            minOccurs="1"/>
                <!-- Persona Giuridica-->
            </xs:choice>
            <xs:element name="Eventi"
                                    minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Tipo soggetto Pubblica amministrazione italiana, sarebbe importante scrivere come primo identificativo il codice IPA -->
    <xs:complexType name="TipoSoggettoPAIType">
        <xs:sequence>
            <xs:element name="Denominazione"
                                    type="StringNVMax254Type"
                                    minOccurs="1"
                                    maxOccurs="1"/>
            <xs:element name="IndirizziDigitaliDiRiferimento"
                                    type="IndirizziDigitaliType"
                                    minOccurs="0"
                                    maxOccurs="1"/>
            <xs:element name="Identificativi"
                                    type="IdentificativiType"
                                    minOccurs="0"
                                    maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!--Tipo soggetto persona fisica, sarebbe bene mettere come primo identificativo il CF  -->
    <xs:complexType name="TipoSoggettoPFType">
        <xs:sequence>
            <xs:element name="Cognome"
                                    type="StringNVMax254Type"
                                    minOccurs="1"
                                    maxOccurs="1"/>
            <xs:element name="Nome"
                                    type="StringNVMax254Type"
                                    minOccurs="1"
                                    maxOccurs="1"/>
            <xs:element name="Sesso"
                                    type="StringNVMax30Type"
                                    minOccurs="0"
                                    maxOccurs="1"/>
            <xs:element name="DataNascita"
                                    type="xs:date"
                                    minOccurs="0"
                                    maxOccurs="1"/>
            <xs:element name="LuogoNascita"
                                    type="StringNVMax254Type"
                                    minOccurs="0"
                                    maxOccurs="1"/>
            <xs:element name="Cittadinanza"
                                    type="StringNVMax30Type"
                                    minOccurs="0"
                                    maxOccurs="1"/>
            <xs:element name="IndirizziDigitaliDiRiferimento"
                                    type="IndirizziDigitaliType"
                                    minOccurs="0"
                                    maxOccurs="1"/>
            <xs:element name="Identificativi"
                                    type="IdentificativiType"
                                    minOccurs="0"
                                    maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Tipo soggetto pubblica amministrazione europea -->
    <xs:complexType name="TipoSoggettoPAEType">
        <xs:sequence>
            <xs:element name="Denominazione"
                                    type="StringNVMax254Type"
                                    minOccurs="1"
                                    maxOccurs="1"/>
            <xs:element name="IndirizziDigitaliDiRiferimento"
                                    type="IndirizziDigitaliType"
                                    minOccurs="0"
                                    maxOccurs="1"/>
            <xs:element name="Identificativi"
                                    type="IdentificativiType"
                                    minOccurs="0"
                                    maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!-- Tipo soggetto persona giuridica sarebbe bene mettere come primo identificativo il Codice Fiscale -->
    <xs:complexType name="TipoSoggettoPGType">
        <xs:sequence>
            <xs:element name="Denominazione"
                                    type="StringNVMax254Type"
                                    minOccurs="1"
                                    maxOccurs="1"/>
            <xs:element name="IndirizziDigitaliDiRiferimento"
                                    type="IndirizziDigitaliType"
                                    minOccurs="0"
                                    maxOccurs="1"/>
            <xs:element name="Identificativi"
                                    type="IdentificativiType"
                                    minOccurs="0"
                                    maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndirizziDigitaliType">
        <xs:sequence>
            <xs:element name="IndirizzoDigitaleDiRiferimento"
                                    type="TokenNVMax254Type"
                                    maxOccurs="unbounded"
                                    minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdentificativiType">
        <xs:sequence>
            <xs:element name="Identificativo"
                                    type="IdentificativoType"
                                    maxOccurs="unbounded"
                                    minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdentificativoType">
        <xs:choice>
            <xs:sequence>
                <xs:element name="IPAAmm"
                                            type="xs:string"
                                            maxOccurs="1"
                                            minOccurs="1"/>
                <xs:element name="IPAAOO"
                                            type="xs:string"
                                            maxOccurs="1"
                                            minOccurs="1"/>
                <xs:element name="IPAUOR"
                                            type="xs:string"
                                            maxOccurs="1"
                                            minOccurs="0"/>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="TipoCodice"
                                            type="xs:string"
                                            maxOccurs="1"
                                            minOccurs="1"/>
                <xs:element name="Codice"
                                            type="xs:string"
                                            maxOccurs="1"
                                            minOccurs="1"/>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>
    <!--  Gestione eventi-->
    <xs:complexType name="EventiType">
        <xs:sequence>
            <xs:element name="Evento"
                                    type="EventoType"
                                    maxOccurs="unbounded"
                                    minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventoType">
        <xs:sequence>
            <xs:element name="Denominazione"
                                    type="StringNVMax254Type"
                                    minOccurs="1"
                                    maxOccurs="1"/>
            <xs:element name="DataInizio"
                                    type="xs:date"
                                    minOccurs="1"
                                    maxOccurs="1"/>
            <xs:element name="DataFine"
                                    type="xs:date"
                                    minOccurs="0"
                                    maxOccurs="1"/>
            <!-- In caso di data singole compilare solo la data inizio o in alternativa compilare data fine nello stesso modo di data inizio -->
        </xs:sequence>
    </xs:complexType>
    <!-- Descrizione del procedimento amministrativo  -->
    <xs:complexType name="ProcedimentoAmministrativoType">
        <xs:sequence>
            <xs:element name="MateriaArgomentoStruttura"
                                    type="StringNVMax100Type"
                                    maxOccurs="1"
                                    minOccurs="1"/>
            <xs:element name="CodiceProcedimento"
                                    type="StringNVMax100Type"
                                    maxOccurs="1"
                                    minOccurs="1"/>
            <xs:element name="DenominazioneProcedimento"
                                    type="StringNVMax100Type"
                                    maxOccurs="1"
                                    minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!--  -->
    <!--  -->
    <xs:complexType name="ProfiloSpecificoType">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
        </xs:sequence>
        <xs:attribute name="versione" type="StringNVMax1024Type" use="required" />
    </xs:complexType>
    <!--  -->
    <xs:complexType name="ContenutoType"> <!-- Qui bisogna ragionare se far saltare l'obbligatorietà o meno del dettaglio unità documentaria nel caso in cui si introduca un tag legato al contenuto di altri fascicoli Es: NumeroFascicoli e dettaglio fascicolo -->
        <xs:sequence>
            <xs:element name="UnitaDocumentarie" type="UnitaDocumentarieType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="Fascicoli" type="FascicoliType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <!--  -->
    <!--Parte relativa alle unità documentarie contenute nel fascicolo  -->
    <xs:complexType name="UnitaDocumentarieType"> 
        <xs:sequence>
            <xs:element name="NumeroUnitaDocumentarie" type="IntMax4DgtType" maxOccurs="1" minOccurs="1"/>
            <xs:element name="DettaglioUnitaDocumentarie" type="DettaglioUnitaDocumentarieType" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!--  -->
    <xs:complexType name="DettaglioUnitaDocumentarieType">
        <xs:sequence>
            <xs:element name="UnitaDocumentaria"  type="UnitaDocumentariaType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!--Parte relativa ai fascicoli contenuti nel fascicolo  -->
    <xs:complexType name="FascicoliType"> <!-- Sono i sottofascicoli, cioè i fascicoli contenuti nel fascicolo che si sta conservando -->
        <xs:sequence>
            <xs:element name="NumeroFascicoli" type="IntMax4DgtType" maxOccurs="1" minOccurs="1"/>
            <xs:element name="DettaglioFascicoli" type="DettaglioFascicoliType" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
 
    <!--  -->
    <xs:complexType name="DettaglioFascicoliType">
        <xs:sequence>
            <xs:element name="Fascicolo"  type="FascicoloType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <!-- TIPI DATO GENERICI -->
    <!--  -->
    <xs:simpleType name="TokenNonVuotoType">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="TokenNVMax100Type">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="TokenNVMax254Type">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
            <xs:maxLength value="254"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="TokenNVMax1024Type">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="StringNonVuotoType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="StringNVMax30Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="StringNVMax100Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="StringNVMax254Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="254"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="StringNVMax1024Type">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="StringMax100Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="StringMax254Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value="254"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="StringMax1024Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="StringMax4000Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="IntMax4DgtType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9999"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="IntMax5DgtType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="99999"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <xs:simpleType name="PosIntMax12DgtType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="999999999999"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  -->
    <!-- ELEMENTI -->
    <!--  -->
    <xs:element name="Fascicolo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="VersioneProfiloCompletoFascicolo" type="xs:string" maxOccurs="1" minOccurs="1"/>
                <xs:element name="Intestazione" type="IntestazioneType"  maxOccurs="1" minOccurs="1" />
                <xs:element name="ProfiloGenerale" type="ProfiloGeneraleType" maxOccurs="1" minOccurs="1" nillable="true"/>
                <xs:element name="ProfiloArchivistico" type="ProfiloArchivisticoType" maxOccurs="1" minOccurs="0" nillable="true"/>
                <xs:element name="ProfiloNormativo" type="ProfiloNormativoType" maxOccurs="1" minOccurs="0" nillable="true"/>
                <xs:element name="ProfiloSpecifico" type="ProfiloSpecificoType" maxOccurs="1" minOccurs="0" nillable="true"/>
                <xs:element name="Contenuto" type="ContenutoType" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!--  -->  
</xs:schema>